<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
	<div th:fragment="zoeklid">
		<div class="well">
			<form method="POST" action="/zoekleden.html" th:object="${zoeklid}">
				<label>Voornaam:</label>&nbsp;<input type="text" th:field = "*{voornaam}"/>&nbsp;
	            <label>Familienaam:</label>&nbsp;<input type="text" th:field = "*{familienaam}"/>&nbsp;
				<input name="zoek" type="submit" value="Zoek" class="btn btn-primary btn-md"/>&nbsp;
				<input name="nieuw" type="submit" value="Nieuw" class="btn btn-warning btn-md"/>
			</form>
		</div>
	</div>
</body>
</html>
