spring:
  datasource:
    url: jdbc:mysql://localhost/legalfly?serverTimezone=UTC
    username: "legalflyuser"
    password: "legalflyuserpw"
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  ai:
    openai:
      api-key: ${SPRING_AI_OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini # or gpt-4o if you have access